body {
    background-color: black;
}

.logo {
    width: 70%;
    padding: 0 15%;
}

nav {
    position: fixed;
}

.container {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 7% 6px;
  }

.item {
    padding: 3% 10%;
}

button {
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.queen-img{
    padding: 6%;
    display: flex;
    margin-left: 28%;
}

/*czlonkowie styl*/

p, ul {
    margin-left: 10px;
    font-family: sans-serif;
}

h5 {
  font-size: 15px;
}

.czlonkowie-container{
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.5);;
    margin-left: 28%;
}

.zespol-img {
    margin: 10px 90px 2px;
}

.przypis {
    text-align: center;
    font-size: 12px;
}

.film-img {
    margin: 5% 7%;
    height: 300px;
    display: inline-block;
}

.reference {
    color: black;
}